<main class="main">
  <div class="inner">
      <div class="greeting">
        こんにちは
        <%= link_to "ユーザー名さん", new_user_registration_path, class: :greeting__link%>
      </div>
    <div class="card__wrapper">
      <% @guidances.each do |guidance|%>
      <div class="prototype__image" style="background-image: url(<%= guidance.image %>);">
        <p><%= guidance.text %></p>
        <span class="name">
          <%= guidance.name%>
        </span>
      </div>
      <% end %>
    </div>
  </div>
</main>
